/* 
    Created on : 07.May.2018, 20:29:29
    Author     : oniketya
*/
#siparis .container, #siparis .jumbotron{
	padding:0;
}
.menuResim{
	width:50px;
	height:50px;
}
body{
	/*background:#D8D8D8;*/
}
nav .active a{
	background:#646262 !important;
}
.navbar{
	background:#F82222;
}
nav .navbar-text, nav .nav li a{
	color:#FFFFFF !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #e72222;
}
.dropdown-menu{
    background-color: #901616 !important;
    border-top: none;
}
.dropdown-menu > li a:hover {
    background-color: #ad1616 !important;
}
nav li a:hover{
	color:#E8E8E8 !important;
}
.jumbotron{
	/*background:#BCBCBC;
	color:white !important;*/
}
.logo{
	max-height:50px;
}
.slidex{
	height:300px;
	background-repeat:no-repeat !important;
	background-position:center !important;
	background-size:cover !important;
}
.slide1{
	background:url(images/1.jpeg);
}
.slide2{
	background:url(images/2.jpeg);
}
.slide3{
	background:url(images/3.jpeg);
}
body{
	/*background:#D8D8D8;*/
}
nav .active a{
	background:#646262 !important;
}
.navbar{
	background:#F82222;
}
nav .navbar-text, nav .nav li a{
	color:#FFFFFF !important;
}
nav li a:hover{
	color:#E8E8E8 !important;
}
.jumbotron{
	/*background:#BCBCBC;
	color:white !important;*/
}
.logo{
	max-height:50px;
}